   * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
         user-select:none;
            -webkit-user-select:none;
           -moz-user-select:none;
           -ms-user-select:none;
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f0f0f0;
              margin: 20px;      
                                      
        }

        header { border-radius:20px;
            text-align: center;           
            color: white;
            padding: 10px;
            margin-bottom: 20px;
            background-color: pink;
               
        }

        main {
               display: flex;
            flex-direction: column;
            align-items: center;
        }

        .menu-section {
         
            width: 80%;
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
              
        }

        .menu-section h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
        }

        .menu-list {
            list-style-type: none;
            padding: 0;
            margin-top: 10px;
        }

        .item-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 10px;
        }

        .color-block {
            width: 20px;
            height: 20px;
            border-radius: 4px;
            margin-right: 10px;
        }

        .item-name {
            flex: 1;
        }
          .item-price {   
              position:relative; top:0px;flex: 1;
             left:20px; 
          
       }
        .item-quantity{
        position:relative;
            top:-10px;
            left:35px;
        }
        .quantity-selector {
          position:relative;
           top:10px;
            width: 30px;
        }
          
        .table-buttons {
            width:80%;            
            justify-content:centre;
            display: flex;
            position:relative;
             
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left:65px;
            flex-wrap: wrap;
              background-color: lightgrey;
              padding:18px 15px 18px 30px;
          border-radius: 30px;
        }

        .table-button {
            justify-content: flex-end;
            
            padding: 20px;
            margin: 10px;
            background-color: grey;
            color: red;
            background-color:white;
            border: none;
            border-radius: 9px;
            cursor: pointer;
            transition: transform 1s, background-color 0.1s;
      
        }
        .table-button:active {
            transform: scale(-2.1);
            background-color: black;
        }
        .selected-table {
            background-color: black  !important;
        }

        .order-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            width: 80%;
            max-width: 400px;
              
        }

        .order-button {
            flex: 1;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: yellow;
              color:black;
            
        }

        .cancel-order {
            flex: 1;
            margin-left: 10px;
            padding: 10px;
            background-color: #ff6347;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          
        }

        .bill-section {
              
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
            width: 80%;
            max-width: 600px;
            display: none;
        }

        .bill-section.visible {
            display: block;
              
        }

        .bill-section h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
        }

        .bill-details {
            margin-bottom: 10px;
        }

        .bill-details p {
            margin: 5px 0;
        }

        .bill-total {
            margin-top: 10px;
            font-weight: bold;
        }

        .payment-options {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .payment-button {
            padding: 10px 20px;
            margin: 0 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .payment-button:hover {
            background-color: #4CAF50;
        }

        .offers { color:red;
            text-align: center;
            margin-top: 20px;
            animation: blinker 1s linear infinite;
          border:1px solid white;
            padding:1px;
              font-size:14px;
                 position:relative;top:-7px;
        }

        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }

        footer {
            text-align: center;
            background-color: #444;
            color: #fff;
            padding: 10px 0;
            margin-top: 20px;
            width: 100%;
        }
        h1{   text-shadow:1px 5px 8px black;
         }
        .hanging-page {
           background-image: url('f2.jpg');
               background-size:300px 350px; 
            background-color: white;
            padding: 20px;
            margin-bottom: 30px;
            border-radius: 10px;
            box-shadow: 0 10px 20px grey;
            position: relative;
            transform-origin: top center;
            margin-left:40px;
            animation: sway 3s infinite ease-in-out;
        }

        .hanging-page:before,
        .hanging-page:after {
            content: '';
            position: absolute;
            top: -10px;
            left: 50%;
            width: 2px;
            height: 10px;
            background-color: #333;
            transform: translateX(-50%);
        }

        .hanging-page:before {
            transform: translateX(-50%) rotate(45deg);
        }

        .hanging-page:after {
            transform: translateX(-50%) rotate(-45deg);
        }

        @keyframes sway {
            0% {
                transform: rotateZ(-5deg);
            }
            50% {
                transform: rotateZ(5deg);
            }
            100% {
                transform: rotateZ(-5deg);
            }
        }

        .hanging-page:hover {
            animation-play-state: paused;
        }
        .pin{ position: relative;
                top:-20px; left:89px;
              width:20px;
          }
           #ask{ position: absolute;
             right:30px;
              top:145px;
            color: #0F4C81;
              width:20px;
          font-size:10px;
            }
        h3{ 
             
           justify-items:center;
           text-align: center;                                 
           background-color:lightgreen;
           color:white;
           padding: 10px;
           border-radius:8px;           
           }
          #clgid{ font-size:13px;
                position:relative;
                 top:-5px;
          }
          
        nav ul { 
          
          position:fixed;  
          top:270px;
          left:-2px;
        }

        nav ul li {
            
            align-items:left;
              justify-content: flex-end;
            width:80%;
            align-items:right;
            border-radius:1px 20px 5px;
            padding:8px;
             background-color:black;
            margin: 5px;
        }

        nav ul li a {
              
            color: white;
            text-decoration: none;
            font-weight: normal;
             font-size:12px;
        }
